%h5= link_to place.user.nickname, user_path(place.user)
= place.shop_name
%br
= place.city
-# = link_to "マップを開く", "https://maps.google.co.jp/maps?q=loc:\#{city.latitude},\#{city.longitude}&amp;iwloc=J",target: "_blank""